{{!--

On every 3rd post, add a special .post-card-large class and load a large image
For the rest, just output a smaller background image

--}}

<article class="post-card {{post_class}} post-card-large
{{#if feature_image}}with-image"
    style="background-image: url({{img_url feature_image size="xl"}}){{else}}no-image{{/if}}">
    <a class="post-card-link" href="{{url}}">
        <div class="post-card-content">
            {{!-- Commenting this out. In the future, this should probably be some SVG text --}}
            <!-- <h2 class="post-card-title">{{title}}</h2> -->
        </div>
    </a>
</article>