{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#is "home"}}
{{#if @site.cover_image}}
<img id="cover-image" src="{{@site.cover_image}}" alt="{{@site.description}}" />
{{else if @site.description}}
<header class="page-head">
    <h2 class="page-head-title">{{@site.description}}</h2>
</header>
{{/if}}
{{/is}}

<div class="post-feed">
    {{#get "pages" slug="join-us" as |post|}}
    {{#post}}
    {{!-- "Join Us" --}}
    <article class="post-card {{post_class}} w1_3"
        style="background-image: url(../../assets/Join_Us_Text.png), url({{img_url feature_image size="l"}})">
        <a class="post-card-link" href="{{url}}">
            <div class="post-card-content">
                {{!-- Commenting this out. In the future, this should probably be some SVG text --}}
                <!-- <h2 class="post-card-title">{{title}}</h2> -->
            </div>
        </a>
    </article>
    {{/post}}
    {{/get}}
    {{#get "pages" slug="sea-battle" as |post|}}
    {{#post}}
    {{!-- "Sea Battle" --}}
    <article id="sb" class="post-card {{post_class}} w2_3"
        style="background-image: url(../../assets/Sea_Battle_Text.png), url({{img_url feature_image size="l"}})">
        <a class="post-card-link" href="{{url}}">
            <div class="post-card-content">
                {{!-- Commenting this out. In the future, this should probably be some SVG text --}}
                <!-- <h2 class="post-card-title">{{title}}</h2> -->
            </div>
        </a>
    </article>
    {{/post}}
    {{/get}}
    {{#get "pages" slug="about-us" as |post|}}
    {{#post}}
    {{!-- "About us" --}}
    <article class="post-card {{post_class}} w2_3"
        style="background-image: url(../../assets/About_Us_Text.png), url({{img_url feature_image size="l"}})">
        <a class="post-card-link" href="{{url}}">
            <div class="post-card-content">
                {{!-- Commenting this out. In the future, this should probably be some SVG text --}}
                <!-- <h2 class="post-card-title">{{title}}</h2> -->
            </div>
        </a>
    </article>
    {{/post}}
    {{/get}}
    {{#get "pages" slug="our-causes-and-projects" as |post|}}
    {{#post}}
    {{!-- "Our causes and projects" --}}
    <article class="post-card {{post_class}} w1_3"
        style="background-image: url(../../assets/Causes_Projects_Text.png), url({{img_url feature_image size="l"}})">
        <a class="post-card-link" href="{{url}}">
            <div class="post-card-content">
                {{!-- Commenting this out. In the future, this should probably be some SVG text --}}
                <!-- <h2 class="post-card-title">{{title}}</h2> -->
            </div>
        </a>
    </article>
    {{/post}}
    {{/get}}
    {{#get "posts" limit="1" order="published_at desc" }}
    {{#foreach posts}}
    {{!-- Latest blog post --}}
    {{> "post-card"}}
    {{/foreach}}
    {{/get}}
    {{#get "pages" slug="current-partners" as |post|}}
    {{#post}}
    {{!-- "Current partners" --}}
    <article id="cp" class="post-card left-half {{post_class}}"
        style="background-image: url(../../assets/Current_Partner_Text.png), url({{img_url feature_image size="l"}})">
        <a class="post-card-link" href="{{url}}">
            <div class="post-card-content">
                {{!-- Commenting this out. In the future, this should probably be some SVG text --}}
                <!-- <h2 class="post-card-title">{{title}}</h2> -->
            </div>
        </a>
    </article>
    {{/post}}
    {{/get}}
    {{#get "pages" slug="become-a-partner" as |post|}}
    {{#post}}
    {{!-- "Become a partner" --}}
    <article id="bp" class="post-card right-half {{post_class}}"
        style="background-image: url(../../assets/Become_Partner_Text.png), url({{img_url feature_image size="l"}})">
        <a class="post-card-link" href="{{url}}">
            <div class="post-card-content">
                {{!-- Commenting this out. In the future, this should probably be some SVG text --}}
                <!-- <h2 class="post-card-title">{{title}}</h2> -->
            </div>
        </a>
    </article>
    {{/post}}
    {{/get}}
    <div class="numbers">
        <div class="number-box">
            <span>250</span>
            <span>Volunteers</span>
        </div>
        <div class="number-box">
            <span>15</span>
            <span>Sections</span>
        </div>
        <div class="number-box">
            <span>8000</span>
            <span>Int. Students</span>
        </div>
    </div>
</div>